.title {
  text-align: center;
}
.main-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
.main-container > div {
  width: 40%;
}

.input-area {
  width: 95%;
  height: 25px;
  margin: 10px 0;
}

.search-box {
  display: flex;
  flex-flow: row nowrap;
}

.search-box > div {
  width: 70%;
}

.search-box > div > input {
  height: 25px;
  width: 85%;
} 

.contact-item {
  display: flex;
}